@import './../colors';

.menu {
    display: flex;
    align-items: flex-start;
}

.calendar {
    width: 70%;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(#000, .2);
}

.header {
    padding: 15px 15px 5px 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.date {
    font-weight: 700;
    font-size: 22px;
}

.nav {
    button {
        margin-left: 10px;
    }   
}

.body {
    padding: 15px;
}

.meals {
    list-style: none;
    padding: 0;
}

.meal {
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;
}

.mealHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    background-color: $color_attn;
    color: #fff;
    padding: 10px 15px;
    font-weight: 600;
}

.tools {
    button {
        margin-right: 10px;
    }
}

.list {
    padding: 10px;
}

.userNorm {
    width: 30%;
    padding-left: 50px;
}

.formMeal {
    display: flex;
    align-items: flex-start;
    > div {
        flex: 1;
    }
    button {
        margin-left: 15px;
    }
}

.red {
    color: red;
}

.green {
    color: green;
}