.preview {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #efefef;
    margin: 0 auto 20px;
}